:host /deep/ {
    font-family: "DIN Next", "Helvetica Neue", "Helvetica", "Roboto", "Arial", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.8em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

.app-root {
    background: rgb(237, 237, 237);
    background: linear-gradient(135deg, rgba(237, 237, 237, 1) 0%, rgba(255, 255, 255, 1) 100%);
    height: 100vh;
}